@using Zamdau.Models;
@model IEnumerable<Product>
@{
    ViewBag.Title = "Products";
}
<div class="container">
    <div>

    <div class="container rounded border-rounded-20 d-flex flex-column ">
            <img src="~/images/Products/Designer (33).jpeg" class="img-fluid  " />
            <a asp-action="Products" asp-controller="Product" class="btn btn-sm btn-outline-orange mt-2 btn-lg">Go shopping</a>
        </div>




    </div>

    <div class="container mt-5 ">
        <h2 class="text-center">Our products</h2>
        <div class="row mt-4">
            @foreach (var produto in Model)
            {
                <div class="col-md-3">
                    <div class="card mb-4 bg-opacity-75 bg-dark">
                        <img src="@produto.ImageUrl" class="card-img-top bg-black" alt="@produto.Name">
                        <div class="card-body">
                            <h5 class="card-title ">@produto.Name</h5>
                            <p class="card-text  text-truncate mw-100" >@produto.Description</p>
                            <a href="#" class=" btn-custom btn-orange"> @produto.Price.ToString("C")</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="container mt-5">
        
            <h2 class="text-center">Sobre Nós</h2>
            <p class="text-center">Somos uma loja dedicada a fornecer produtos de alta qualidade aos nossos clientes. Nossa missão é oferecer o melhor serviço e garantir a satisfação do cliente.</p>
  

    </div>
</div>
</div>


