@model List<CartItem>
@{
    ViewData["Title"] = "Cart";
}

@if (!Model.Any())
{
    <div class="container m-3">
        <div class="col">
            <div class="">
                <div class="card-body text-center justify-content-between align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-duffle" viewBox="0 0 16 16">
                        <path d="M8 5.75c1.388 0 2.673.193 3.609.385a18 18 0 0 1 1.43.354l.112.034.002.001h.001a.5.5 0 0 1-.308.952l-.004-.002-.018-.005a17 17 0 0 0-1.417-.354A17.3 17.3 0 0 0 8 6.75a17.3 17.3 0 0 0-3.408.365 17 17 0 0 0-1.416.354l-.018.005-.003.001a.5.5 0 1 1-.308-.95A17.3 17.3 0 0 1 8 5.75" />
                        <path d="M5.229 2.722c-.126.461-.19.945-.222 1.375-1.401.194-2.65.531-3.525 1.012C-.644 6.278.036 11.204.393 13.127a.954.954 0 0 0 .95.772h13.314a.954.954 0 0 0 .95-.772c.357-1.923 1.037-6.85-1.09-8.018-.873-.48-2.123-.818-3.524-1.012a7.4 7.4 0 0 0-.222-1.375c-.162-.593-.445-1.228-.971-1.622-1.115-.836-2.485-.836-3.6 0-.526.394-.81 1.03-.971 1.622M9.2 1.9c.26.195.466.57.606 1.085.088.322.142.667.173.998a23.3 23.3 0 0 0-3.958 0 6 6 0 0 1 .173-.998c.14-.515.346-.89.606-1.085.76-.57 1.64-.57 2.4 0M8 4.9c2.475 0 4.793.402 6.036 1.085.238.13.472.406.655.93.183.522.28 1.195.303 1.952.047 1.486-.189 3.088-.362 4.032H1.368c-.173-.944-.409-2.545-.362-4.032.024-.757.12-1.43.303-1.952.183-.524.417-.8.655-.93C3.207 5.302 5.525 4.9 8 4.9" />
                    </svg>
                    <p class="card-text">Your shopping cart is empty</p>
                    <a asp-action="Products" asp-controller="Product" class="btn btn-sm btn-outline-orange">Go shopping</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="cart-container">
        <h1 class="border border-rounded-10 p-3 text-center">Shopping Cart</h1>
        <div class="cart-header">
            <input type="checkbox" id="select-all" class="select-all" checked>
            <label for="select-all">Select All</label>
        </div>

        <form asp-action="Cart" method="post">
            <div class="cart-items">
                @foreach (var i in Model)
                {
                    <div class="cart-item">
                        <!-- Checkbox para seleção -->
                        <input type="checkbox" class="select-item m-3" name="CartItems[@Model.IndexOf(i)].IsSelected" value="@i.IsSelected.ToString()" @(i.IsSelected == "True" ? "checked" : "")>
  
                        
                        <!-- Imagem do Produto -->
                        <img src="@i.ProductImageUrl" alt="@i.ProductName">

                        <!-- Detalhes do Produto -->
                        <div class="item-details">
                            <a asp-action="ViewProduct" asp-controller="Product" asp-route-productId="@i.ProductId" class="link-orange">
                                <h5>
                                    <input type="hidden" name="CartItems[@Model.IndexOf(i)].ProductName" value="@i.ProductName">
                                    @i.ProductName
                                </h5>
                            </a>
                            <div class="d-flex">
                                <p class="price me-3" data-price="@i.Price">$@i.Price</p>
                                <p class="me-1">Total:</p>
                                <p class="total-price link-yellow">$@i.Price</p>
                            </div>

                            <input type="hidden" name="CartItems[@Model.IndexOf(i)].ProductId" value="@i.ProductId">
                            <input type="hidden" name="CartItems[@Model.IndexOf(i)].ProductImageUrl" value="@i.ProductImageUrl">
                            <input type="hidden" name="CartItems[@Model.IndexOf(i)].Price" value="@i.Price">
                
                            
                            

                            <!-- Quantidade -->
                            <div class="quantity">
                                <button class="btn decrease" type="button"><div class="btn-inc-dec">-</div></button>
                                <input class="bg-light input-cart" name="CartItems[@Model.IndexOf(i)].Quantity" type="number" value="@i.Quantity" min="1" readonly>
                                <button class="btn increase" type="button"><div class="btn-inc-dec">+</div></button>
                            </div>
                        </div>
                        <a asp-action="RemoveItemCart" asp-route-itemId="@i.ProductId" class="btn btn-danger">Remove</a>
                    </div>
                }
            </div>

            <!-- Resumo do Carrinho -->
            <div class="cart-summary">
                <h2>Order Summary</h2>
                <p class="subtotal">Subtotal: $<span id="subtotalDisplay">0</span></p>
                <p class="tax">Tax: $<span id="taxDisplay">0</span></p>
                <p><strong id="Total" class="total">Total: $<span id="totalDisplay">0</span></strong></p>

                <input id="Subtotal" type="hidden" name="Subtotal" value="0">
                <input id="Tax" type="hidden" name="Tax" value="0">
                <input id="Total" type="hidden" name="Total" value="0">


                <button id="checkoutBtn" class="checkout-btn" onclick="CartToCheckout()" type="submit" >Proceed to Checkout</button>
            </div>
        </form>
        <div id="alert-box" class="custom-alert"></div>
    </div>
    <script>
       //colocar Partial nessa tela
    </script>
}
