@model IEnumerable<Orders>
@{
    ViewData["Title"] = "Orders";
}
<div class="container mt-4">
    <h2 class="mb-4">My Orders</h2>

    @if (!Model.Any())
    {
        <div class="alert alert-light text-center">
            <h5 class="p-2">You have no orders yet.</h5>
            <a asp-action="Products" asp-controller="Product" class="btn btn-orange">Go Shopping</a>
        </div>
    }
    else
    {
        <div class="p-1 bg-dark rounded">
            <table class="table table-dark  table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Order Number</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>@order.OrderNumber</td>
                            <td>
                                <span class="badge
        @(order.PaymentStatus == PaymentStatus.Completed ? "badge-success" :
          order.PaymentStatus == PaymentStatus.Processing ? "badge-warning" :
          order.PaymentStatus == PaymentStatus.Shipped? "badge-info" :
          order.PaymentStatus == PaymentStatus.Pending ? "badge-grey" :
          order.PaymentStatus == PaymentStatus.Cancelled ? "badge-danger" : "badge-secondary")">
                                    @order.PaymentStatus
                                </span>
                            </td>

                            <td>@order.Created.ToString("dd/MM/yyyy")</td>
                            <td>@order.TotalAmount.ToString("C")</td>
                            <td>
                                <a asp-action="Details" asp-controller="User" asp-route-id="@order.OrderNumber" class="btn btn-sm btn-orange">View Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

</div>
