@model Zamdau.Models.SignUp
@{
    ViewBag.Title = "Sign Up";
}
<div class="form-signin m-auto w-100 d-flex align-items-center justify-content-center text-light"  style="min-height: 70vh;">
    <div class="w-100" style="max-width: 330px;">
        @using (Html.BeginForm("SignUp", "User", FormMethod.Post, new { @id = "dynamic-form"  , @onsubmit = "return validateForm()" }))
        {
            @Html.AntiForgeryToken()
            <div style="text-align:center">
                <img class="mb-3 align-t" src="~/images/logoBird.png" alt="" width="100" height="100">
                <h1 class="h3 mb-3 fw-normal">Create your account</h1>
            </div>
            <div class="input-field visible" id="email-field">
                <label for="email">Email:</label>
                @Html.TextBoxFor(email => email.Email, new { @id = "email", @name = "email", @required = true,@type = "email", @style = "border-radius:5px", @class = "form-control", @placeholder = "Email", @autocomplete = "email" })              
            </div>
            @Html.ValidationMessageFor(email => email.Email, "", new { @class = "text-danger" })
            <div class="input-field hidden" id="name-field">
                <label for="name">Nome:</label>
                @Html.TextBoxFor(email => email.Name, new { @id = "name", @name = "name", @required = true, @type = "text", @style = "border-radius:5px", @class = "form-control text-capitalize", @placeholder = "Nome", @autocomplete = "name" })
            </div>
            @Html.ValidationMessageFor(name => name.Name, "", new { @class = "text-danger" })
            <div class="input-field hidden " id="password-field">
                <label for="password">Senha:</label>
                @Html.PasswordFor(pwd => pwd.Password, new { @id = "password", @name = "password", @required = true, @type = "password", @class = "form-control", @placeholder = "Password", @autocomplete = "new-password" })
                <input type="checkbox" id="toggle-password" onclick="togglePassword()"> Mostrar senha
            </div>
            @Html.ValidationMessageFor(pwd => pwd.Password, "", new { @class = "text-danger" })
            <div class="input-field hidden" id="confirm-password-field">
                <label for="confirm-password">Confirmação de Senha:</label>
                @Html.PasswordFor(pwd => pwd.ConfirmPassword, new { @id = "confirm-password", @name = "confirm-password", @required = true, @type = "password", @class = "form-control", @placeholder = "Confirm Password", @autocomplete = "new-password" })
                <input type="checkbox" id="toggle-confirm-password" onclick="toggleConfirmPassword()"> Mostrar senha
                <div class="g-recaptcha " data-sitekey="6LedYBoqAAAAABbS9zzFJeAPdlv6ygdo2nm1bx_g" data-action="SendMail"></div>
            </div>
            @Html.ValidationMessageFor(cpwd => cpwd.ConfirmPassword, "", new { @class = "text-danger" })


            <p class="text-danger">@Html.ViewBag.RecaptchaError</p>
            <button class="btn-custom btn-outline-orange" type="button" id="continue-button" onclick="showNextInput()">Continuar</button>
            <button class="btn btn-outline-info" type="submit" id="submit-button" style="display:none;">Enviar</button>
        }
    </div>


</div>
<script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
<div id="custom-alert-modal" class="modal-captcha">
    <div class="modal-content-captcha">
        <span class="close-captcha" onclick="closeAlert()">&times;</span>
        <p id="alert-message"></p>
    </div>
</div>

<script src="~/js/JSSignUp.js"></script>
