@model List<Product>

<div class="container mt-3 ">
    <h2 class="text-center">Products</h2>
    <div class="row mt-4">
        @foreach (var produto in Model)
        {    
            <div class="col-md-3 text-light ">
                <div class="card mb-4 bg-opacity-75 bg-dark">

                    <a asp-action="ViewProduct" asp-controller="Product" asp-route-id="@produto.Id">
                        <img src="@produto.ImageUrl" class="card-img-top bg-black" alt="@produto.Name">
                    </a>                
                    <div class="card-body text-light">
                        <h5 class="card-title ">@produto.Name</h5>
                        <p class="card-text  text-truncate mw-100">@produto.Description</p>
                        @Html.ActionLink($"{@produto.Price.ToString("C")}", "ViewProduct", "Product", new { id = @produto.Id }, new { @class = " btn-custom btn-orange" })
                    </div>
                </div>
            </div>
            
        }
    </div>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center ">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item  @(ViewBag.CurrentPage == i ? "active" : "")">
                <a class="page-link bg-dark border-light link-orange" href="@Url.Action("Products", new {page = i,brand = @ViewBag.FilterBrand, priceRange = @ViewBag.FilterPrice  })">@i</a>
            </li>
        }
    </ul>
</nav>